[submodule "zsh/.zsh/anyframe"]
	path = zsh/.zsh/anyframe
	url = https://github.com/mollifier/anyframe.git
[submodule "zsh/.zsh/zsh-git-escape-magic"]
	path = zsh/.zsh/zsh-git-escape-magic
	url = https://github.com/knu/zsh-git-escape-magic.git
